<div class="container w-50 mt-5 text-center">
    <h1 class=" text-center text-white display-3 m-5" > Word Limit : {{limit}} </h1>
    <input 
    type = "range"         
    class="slider form-control-range"    
    (input)="handleSlideChange($event)"
    />
    <button class="btn btn-info text-center m-5" (click) = generate()>Generate Words</button>
    <button class="btn btn-info text-center m-5" (click) = generateRandomWords()>Generate Random Words</button>
</div>
    
<div *ngIf = "words" class="card card-body m-5">
    <p class="display-5">{{words}}</p>
</div>